* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
.html {
  font-size: 62.5%;
}
body {
  font-family: "Plus Jakarta Sans", sans-serif;
  min-height: 100%;
}
/*homepage*/
.interact-flex {
  display: flex;
  margin-top: 10rem;
  margin-left: 7.5rem;
  column-gap: 15.5rem;
  font-size: 1.3rem;
}
.interact {
  width: 32vw;
  padding-top: 5rem;
  line-height: 1.5;
  color: #2b184d;
}
.interact h2 {
  line-height: 1;
  font-size: 3rem;
  margin-bottom: 2rem;
}
.img1 img {
  width: 33rem;
}
.interact-button-1,
.interact-button-2 {
  display: inline-block; /* Ensures elements are side by side */
  vertical-align: top; /* Aligns the top edges of the buttons */
  margin-top: 2rem; /* Moves the buttons down */
  padding-left: 0.5rem;
}
.interact-button-1 button {
  background-color: #673ab7;
  color: #fff;
  height: 3.5rem;
  width: 12rem;
  font-size: 1.3rem;
}
.interact-button-1 button:hover {
  background-color: #673ab7;
}
.interact-button-2 {
  padding-left: 2rem;
}
.interact-button-2 button {
  background-color: #ede7f6;
  color: #45277b;
  height: 3.5rem;
  width: 12rem;
  font-size: 1.3rem;
}
.interact-button-2 button:hover {
  color: #45277b;
  background-color: #ede7f6;
}
.empower-flex {
  display: flex;
  margin-top: 10rem;
  margin-left: 7.5rem;
  column-gap: 10.5rem;
  font-size: 1.3rem;
}
.empower {
  width: 33vw;
  padding-top: 5rem;
  line-height: 1.5;
  color: #2b184d;
}
.empower h2 {
  width: 39vw;
  line-height: 1;
  font-size: 3rem;
  margin-bottom: 2rem;
}
.img2 img {
  width: 33rem;
}
.empower-button {
  margin-top: 3rem;
}
.empower-button button {
  background-color: #673ab7;
  color: #fff;
  height: 3.5rem;
  width: 12rem;
  font-size: 1.3rem;
}
.empower-button button:hover {
  background-color: #673ab7;
}
.learning-flex {
  display: flex;
  margin-top: 10rem;
  margin-left: 7.5rem;
  column-gap: 15.5rem;
  font-size: 1.3rem;
}
.learning {
  width: 33vw;
  padding-top: 5rem;
  line-height: 1.3;
  color: #2b184d;
}
.learning h2 {
  width: 39vw;
  line-height: 1;
  margin-bottom: 2rem;
  font-size: 3rem;
}
.img3 img {
  width: 33rem;
}
.learning-button {
  margin-top: 3rem;
}
.learning-button button {
  height: 3.5rem;
  width: 13rem;
  background-color: #673ab7;
  color: #fff;
  font-size: 1.3rem;
}
.learning-button button:hover {
  background-color: #673ab7;
}
.key {
  padding-top: 8rem;
  margin-left: 7.5rem;
  color: #2b184d;
  font-size: 1.5rem;
}
.engage-flex {
  display: flex;
  margin-top: 10rem;
  margin-left: 7.5rem;
  column-gap: 10.5rem;
  font-size: 1.3rem;
}
.engage {
  width: 32vw;
  padding-top: 5rem;
  line-height: 1.5;
  color: #2b184d;
}
.engage h2 {
  line-height: 1;
  font-size: 3rem;
  margin-bottom: 2rem;
}
.engage-button {
  margin-top: 3rem;
}
.engage-button button {
  width: 10rem;
  background-color: #fff;
  border: 1px solid #673ab7;
  color: #673ab7;
  height: 3.5rem;
  width: 12rem;
  font-size: 1.3rem;
}
.engage-button button:hover {
  background-color: #673ab7;
}
.img4 img {
  width: 33rem;
}
.real-flex {
  display: flex;
  margin-top: 10rem;
  margin-left: 7.5rem;
  column-gap: 15.5rem;
  font-size: 1.3rem;
}
.real {
  width: 32vw;
  padding-top: 5rem;
  line-height: 1.5;
  color: #2b184d;
}
.real h2 {
  width: 39vw;
  line-height: 1;
  font-size: 3rem;
  margin-bottom: 2rem;
}
.img5 img {
  width: 33rem;
}
.progress-flex {
  display: flex;
  margin-top: 10rem;
  margin-left: 7.5rem;
  column-gap: 12.5rem;
  font-size: 1.3rem;
}
.progress {
  width: 33vw;
  padding-top: 5rem;
  line-height: 1.5;
  font-size: 1.2rem;
  color: #2b184d;
}
.progress h2 {
  line-height: 1;
  font-size: 3rem;
  padding-bottom: 2rem;
}
.soon {
  padding-top: 6rem;
  font-size: 3rem;
  font-weight: bold;
}
.img6 img {
  width: 33rem;
}

/* button styles*/
.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #ede7f6;
  color: #2b184d;
  cursor: pointer;
  font-size: 16px;
}

.btn:hover {
  background-color: #2b184d;
  color: #ede7f6;
}

/* header styling */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 100px;
  background-color: #673ab7;
  border-bottom: 1px solid #e0e0e0;
  z-index: 1000; /*ensures it stays above other content */
  transition: opacity 0.3s ease;
}

.header-nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.header-nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
  align-items: center;
}

.header-nav-links li {
  margin: 0;
}

.header-nav-links a {
  text-decoration: none;
  color: #ede7f6;
}

.header-nav-links a:hover {
  text-decoration: none;
  color: #fff;
}

.header-nav-buttons {
  display: flex;
  gap: 30px;
}
.header-nav-buttons button{
  color: #673AB7;
}
.header-nav-buttons .btn-signup{
  background-color: transparent;
  color: white;
  transition: background-color 1s ease-in;
}
.header-nav-buttons .btn-signup:hover{
  background-color: #2b184d;
}
.header-logo-links {
  display: flex;
  gap: 50px;
}
/* logo styling  */
.logo-container {
  flex-shrink: 0; /* Prevents the logo from shrinking */
}

.logo {
  max-width: 100px; /* Set a maximum width */
  height: auto; /* Maintain aspect ratio */
  filter: grayscale(100%) brightness(1000%);
}

/* Faq.css 

Others are in FaqSection.css in the FaqCss folder */
.faq {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}
.faq-question {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.faq-answer {
  margin-top: 10px;
  padding-left: 20px;
  color: #ffff;
}
.faq-toggle {
  font-size: 1.5em;
  margin-left: 10px;
}
/* footer-css */
.footer {
  height: 50vh;
}
.footer-together {
  margin-left: 6rem;
}
.footer-logo img {
  width: 10rem;
}
.footer-together {
  min-height: 20vh;
  padding-top: 4rem;
  display: flex;
  column-gap: 10rem;
  line-height: 2;
}
.footer-together a {
  text-decoration: none;
  color: #000;
}
.footer-together a:hover {
  color: #673ab7;
}
.footer-content {
  display: flex;
  column-gap: 68rem;
  padding-top: 1rem;
  padding-left: 6rem;
  padding-bottom: 1rem;
  color: white;
  margin-top: 5rem;
  background-color: #673ab7;
}

/*CodePage css */
.enter-code {
  text-align: center;
  background-color: #45277b;
  min-height: 34rem;
}
.enter-code h1 {
  padding-top: 11rem;
  padding-bottom: 3rem;
  font-size: 3rem;
  color: #fff;
}
.enter-code div {
  padding-left: 1rem;
}
#code-input {
  width: 23rem;
  height: 4.5rem;
  border-radius: 1rem;
  padding-left: 1rem;
  font-size: 1.5rem;
  border: 0;
  outline: 0;
}
.join-button {
  position: absolute;
  display: inline;
  top: 18.5rem;
  left: 53rem;
}
.join-button button {
  background-color: #45277b;
  color: #fff;
}
/* procede test page styling  */

.procede-test {
  margin-top: 50px;
  padding: 100px 80px;
  color: #2b184d;
}
.box-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 50px 0;
}
.box {
  height: 233px;
  border-radius: 15px;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.box-image {
  height: 50px;
}

.box p,
.box h3 {
  text-align: left;
  padding-top: 15px;
}


/* Authenticated header styles */
.header-enter-code {
  background-color: #3a2077;
  border-bottom: 1px solid white;
}

.btn-enter-code {
  background-color: rgb(237, 231, 246);
  color: #673ab7;
  width: 10rem;
}

.img-ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.quiz-img {
  width: 5rem;
  filter: grayscale(100%) brightness(1000%);
  margin-right: 50px;
}

.header-others {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  margin-right: -2rem;
  font-size: 1rem;
}

.header-others .btn-assessment {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  font-size: 0.9rem;
  padding: 12px 13px;
  width: 12rem;
  margin-right: 20px;
}

.word-container {
  margin-right: 10px;
}

.name-word {
  text-decoration: underline;
}

.profile-img {
  border-radius: 50px;
  object-fit: cover;
  width: 3rem;
  height: 3rem;
  margin-right: 5px;
}

/* style for remaining header */
.entire-page {
  overflow-y: scroll;
}
.mainContainer {
  position: relative;
  left: 10%;
  width: 60vw;
  height: 90vh;
  margin-top: 20px;
  border: none;
}

.secondContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.secondContainer .img-container {
  background-color: #673ab7;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25vw;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: -1px 1px 1px black;
}

.secondContainer .img-container img {
  filter: grayscale(100%) brightness(1000%);
  width: 50%;
}
.secondContainer .img-container img:hover {
  cursor: pointer;
}

.mainContainer .signup-page-container {
  width: 45vw;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0.5px 0.5px 0.5px black;
}

.cancel-btn {
  position: absolute;
  top: 15px;
  right: -70px;
  margin-top: 0px;
  padding: 5px;
  border-radius: 50px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  background-color: white;
  cursor: pointer;
  transition: opacity 1s ease-in;
}

.cancel-btn:hover {
  opacity: 0.6;
}

.cancel-btn img {
  width: 10px;
}

.second-signup-page-container {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  margin-top: 60px;
}

.welcome {
  padding-left: 30px;
  margin-bottom: 60px;
}
.welcome h2 {
  font-size: 2.2rem;
  padding-bottom: 10px;
}

.welcome p {
  font-size: 1.2rem;
}

.role-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-right: 50px;
  margin-bottom: 30px;
}

.role-container img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50px;
}

.teacher-container,
.student-container,
.administrator-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-top: 20px;
  width: 11.2vw;
  height: 13rem;
  background-color: white;
  border: 1px solid #45277b;
}

.role-container button {
  width: 9vw;
  padding: 8px;
  background-color: #673ab7;
  border: none;
  color: white;
  border-radius: 8px;
}

.role-container button:hover {
  cursor: pointer;
}

.container-verify {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.container-verify button {
  background-color: #673ab7;
  color: white;
  width: 38vw;
  padding: 10px;
  margin-right: 20px;
}

.container-verify button:hover {
  cursor: pointer;
}
.container-verify .signUp-Google {
  background-color: white;
  border: 1px solid #45277b;
  color: #673ab7;
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 1rem;
}

.container-verify p {
  margin-bottom: 10px;
  text-align: center;
}

.link-signin {
  text-decoration: none;
  color: #673ab7;
  font-weight: bold;
}

.googleLogo {
  margin-right: 2px;
  color: #4285f4;
  font-size: 1.4rem;
}

.header-others button {
  margin-right: 10px;
  width: 10rem;
  padding: 12px;
}
.btn-hints,
.btn-grades {
  display: flex;
  align-items: center;
  justify-content: center;
}

.chip-icons {
  margin-left: 20px;
}

.store-stars {
  margin-left: 20px;
  display: flex;
  align-items: center;
}

.yellow {
  color: gold;
}
.orSeparatorStyle {
  display: flex;
  align-items: center;
  padding-left: 20px;
  margin: 1.5rem 0;
}

.lineStyle {
  width: 15vw;
  border: 1px solid #673ab7;
  margin-right: 10px;
  margin-left: 10px;
}

.orTextStyle {
  margin: 0 1rem;
  font-size: 1rem;
  color: #888;
}

/* media query */
/* General mobile devices */
@media only screen and (max-width: 600px) {
  /* Styles for mobile devices */
  .header {
    background-color: lightblue;
    
  }
}

@media only screen and (min-width: 300px) and (max-width: 700px) {
  .header {
    padding: 5px 0;
    padding-right: 2px;
    font-size: 0.8rem;
  }
  .header-logo-links{
    gap: 10px;
  }
  .header-nav-buttons{
    gap: 5px;
    margin-left: 4px;
  }
  .header-nav-buttons button{
    font-size: 0.7rem;
  }
  .header-nav-links{
    gap: 15px;
  }
  .word-container{
    display: none;
  }
}

@media only screen and (min-width: 700px) and (max-width: 800px) {
  .header {
    padding: 5px 0;
    padding-right: 10px;
    font-size: 1rem;
  }
  .header-logo-links{
    gap: 10px;
  }
  
  .header-nav-buttons{
    gap: 5px;
  }
  .header-nav-buttons button{
    font-size: 0.8rem;
  }
  .word-container{
    display: none;
  }
}


@media only screen and (min-width: 800px) and (max-width: 950px) {
  .header {
    padding: 5px 0;
    padding-right: 30px;
    font-size: 1rem;
  }
  .header-nav-buttons{
    gap: 5px;
  }
  .word-container{
    display: none;
  }
}


@media (min-width: 950px) and (max-width: 1080px) {
  .header{
    padding: 5px 0;
    padding-right: 30px;
  } 
  .header-nav-buttons{
    gap: 5px;
  }
}

