* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
.html {
  font-size: 62.5%;
}
/*homepage*/
.interact-flex {
  display: flex;
  margin-top: 10rem;
  margin-left: 15rem;
  column-gap: 6rem;
  font-size: 1.3rem;
}
.interact {
  width: 35vw;
  padding-top: 5rem;
  line-height: 1.3;
  color: #2b184d;
}
.interact h2 {
  line-height: 1;
  font-size: 3.5rem;
}
.img1 img {
  width: 25rem;
}
.empower-flex {
  display: flex;
  margin-top: 10rem;
  margin-left: 15rem;
  column-gap: 6rem;
}
.empower {
  width: 39vw;
  padding-top: 5rem;
  line-height: 1.3;
  color: #2b184d;
}
.empower h2 {
  line-height: 1;
  font-size: 3.5rem;
}
.img2 img {
  width: 25rem;
}

.learning-flex {
  display: flex;
  margin-top: 10rem;
  margin-left: 15rem;
  column-gap: 6rem;
}
.learning {
  width: 39vw;
  padding-top: 5rem;
  line-height: 1.3;
  color: #2b184d;
}
.learning h2 {
  line-height: 1;
  font-size: 3.5rem;
}
.img3 img {
  width: 25rem;
}
.key {
  padding-top: 10rem;
  margin-left: 15rem;
  color: #2b184d;
}
.engage-flex {
  display: flex;
  margin-top: 10rem;
  margin-left: 15rem;
  column-gap: 6rem;
}
.engage {
  width: 39vw;
  padding-top: 5rem;
  line-height: 1.3;
  color: #2b184d;
}
.engage h2 {
  line-height: 1;
  font-size: 3.5rem;
}
.img4 img {
  width: 25rem;
}
.real-flex {
  display: flex;
  margin-top: 10rem;
  margin-left: 15rem;
  column-gap: 3rem;
}
.real {
  width: 43vw;
  padding-top: 5rem;
  line-height: 1.3;
  color: #2b184d;
}
.real h2 {
  line-height: 1;
  font-size: 3rem;
}
.img5 img {
  width: 25rem;
}
.progress-flex {
  display: flex;
  margin-top: 10rem;
  margin-left: 15rem;
  column-gap: 3rem;
}
.progress {
  width: 43vw;
  padding-top: 5rem;
  line-height: 1.3;
  color: #2b184d;
}
.progress h2 {
  line-height: 1;
  font-size: 3rem;
}
.soon {
  padding-top: 7rem;
}
.img6 img {
  width: 25rem;
}

/* button styles*/
.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #ede7f6;
  color: #2b184d;
  cursor: pointer;
  font-size: 16px;
}

.btn:hover {
  background-color: #2b184d;
  color: #ede7f6;
}

/* header styling */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 60px;
  background-color: #673ab7;
  border-bottom: 1px solid #e0e0e0;
  z-index: 1000; /*ensures it stays above other content */
  transition: opacity 0.3s ease;
}

.header-nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.header-nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
  align-items: center;
}

.header-nav-links li {
  margin: 0;
}

.header-nav-links a {
  text-decoration: none;
  color: #ede7f6;
}

.header-nav-links a:hover {
  text-decoration: underline;
  color: #2b184d;
}

.header-nav-buttons {
  display: flex;
  gap: 30px;
}
.header-logo-links{
  display: flex;
  gap: 50px;
}
 /* logo styling  */
.logo-container {
  flex-shrink: 0; /* Prevents the logo from shrinking */
}

.logo {
  max-width: 100px; /* Set a maximum width */
  height: auto; /* Maintain aspect ratio */
}



/* Faq.css 

Others are in FaqSection.css in the FaqCss folder */
.faq {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}
.faq-question {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.faq-answer {
  margin-top: 10px;
  padding-left: 20px;
  color: #ffff;
}
.faq-toggle {
  font-size: 1.5em;
  margin-left: 10px;
}
/* footer-css */
.footer {
  min-height: 50vh;
}
.footer-together {
  margin-left: 6rem;
}
.footer-logo img {
  width: 10rem;
}
.footer-together {
  padding-top: 5rem;
  display: flex;
  column-gap: 10rem;
  line-height: 2;
}
.footer-together a {
  text-decoration: none;
  color: #000;
}
.footer-together a:hover {
  text-decoration: underline;
  color: #673ab7;
}
.footer-content {
  display: flex;
  column-gap: 68rem;
  padding-top: 2rem;
  padding-left: 6rem;
  padding-bottom: 1rem;
  margin-top: 5rem;
  color: white;
  background-color: #673ab7;
}

/*CodePage css */
.enter-code {
  text-align: center;
  background-color: #45277b;
  min-height: 19rem;
}
.enter-code h1 {
  padding-top: 5rem;
  padding-bottom: 3rem;
  font-size: 3rem;
  color: #fff;
}
.enter-code div {
  padding-left: 1rem;
}
#code-input {
  width: 23rem;
  height: 4.5rem;
  border-radius: 1rem;
  padding-left: 1rem;
  font-size: 1.5rem;
  border: 0;
  outline: 0;
}
.enter-code button {
  position: absolute;
  left: 55rem;
  top: 12.2rem;
  width: 4rem;
  height: 3rem;
  border-radius: 0.5rem;
  background-color: #45277b;
  color: white;
  font-size: 1.3rem;
}

/* procede test page styling  */

.box-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}